target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

**/mvnw
**/mvnw.cmd

**/.mvn
**/target/

.idea

**/node_modules/*
**/dist/
**/unpackage/dist/*

**/application-prod.yml
**/application-damW.yml
**/application-damM.yml
**/application-dam.yml
**/shardingsphere-config-prod.yaml
**/shardingsphere-config-damW.yaml
**/shardingsphere-config-damM.yaml
**/shardingsphere-config-dam.yaml
**/application-aggerationProd.yml
**/application-aggerationDamW.yml
**/application-aggerationDamM.yml
**/application-aggerationDam.yml
**/venue-reservation-server/upload/**
**/*.jks
**/.DS_Store
