<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrs.mapper.PartitionMapper">

    <select id="getVenueIdById" resultType="java.lang.Long">
        select venue_id
        from venue_partition
        where id = #{partitionId}
    </select>
</mapper>
